.right-buttom-corrner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.hide {
    /* display: none; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}

.modal-dialog  {
    display: none !important;
}

.modal-backdrop {
    display: none !important;
    z-index: 0 !important;
}

.show {
    display: none !important;
    z-index: 0 !important;
}

.fade {
    display: none !important;
    height: 0;
    z-index: 0 !important;
}

.main {
    z-index: 2147483648;
}

.sidebar-inner {
    height: 999px !important;
}

.swal2-container{
    display: none !important;
}